<!-- Symptom page -->
<!-- 
Displays:
 - The symptom
 - Symptom examples
 - Disorders with that symptom
 - Search input to look for related elements to this route  -->

 {% extends 'base.html' %}

 {% block title %}Symptom Details{% endblock %}
 
 {% block content %}
 <div id="symptom-details-page" class="container-fluid d-flex flex-column min-vh-100">
   <!-- Main Content -->
   <div class="flex-grow-1">
     <!-- Symptom Card -->
     <div class="symptom-card shadow-lg p-5 rounded">
       <h1 class="symptom-title">{{ symptom.name }}</h1>
       <p class="symptom-description">{{ symptom.description }}</p>
     </div>
 
     <!-- Associated Disorders Section -->
     <div class="associated-disorders-section mt-5">
       <h2 class="associated-title">Disorders Associated with this Symptom:</h2>
       {% if disorders %}
       <ul class="list-group disorders-list mt-3">
         {% for disorder in disorders %}
         <li class="list-group-item d-flex align-items-center">
           <i class="bi bi-arrow-right-circle me-2 disorder-icon" aria-hidden="true"></i>
           <a href="{{ url_for('dsm.get_disorder', disorder_id=disorder.id) }}" class="disorder-link">{{ disorder.name }}</a>
         </li>
         {% endfor %}
       </ul>
       {% else %}
       <p class="no-disorders mt-3">No disorders are currently associated with this symptom.</p>
       {% endif %}
     </div>
   </div>
 </div>
 {% endblock %}
 
 
 